/* Robert Roberts */

body {
    background: url("../img/pixil-frame-0.png"), #002240;
    color: white;
    font-family: Arial, sans-serif;
}

a:link {
    color: chocolate;
}

a:visited {
    color: cyan;
}

.box {
    width: 30vh;
    height: 45vh;
    background: #3c3f41;
    left: calc(50% - 12.5vh);
    top: 15vh;
    border: 1px solid #323232;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em;
    padding: 0.5em
}

.content {
    left: calc(50% - 12.5vh);
}

.aligned {
    text-align: left;
    list-style: none;
    padding-left: 1em;
}

.blurredright {
    left: calc(88% - 12.5vh);
}

.blurredleft {
    left: calc(12% - 12.5vh);
}

