body {
    background: #002240;
    color: white;
    font-family: Arial, sans-serif;
}

.content {
    position: absolute;
    width: 30vh;
    height: 45vh;
    background: #3c3f41;
    left: calc(50% - 12.5vh);
    top: 15vh;
    border: 1px solid #323232;
    text-align: center;
}

.aligned {
    text-align: left;
    list-style: none;
    padding-left: 1em;
}

.blurredleft, .blurredright {
    position: absolute;
    width: 30vh;
    height: 45vh;
    background: #3c3f41;
    left: calc(12% - 12.5vh);
    top: 15vh;
    border: 1px solid #323232;
    text-align: center;
    transform: scale(0.7);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.blurredright {
    left: calc(88% - 12.5vh);

}

.blurredright:hover, .blurredleft:hover {
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}
